-
  function formatPrice(price) {
    return String(price)
      .split('')
      .reduceRight((acc, cur, i) => {
        let str = cur + acc;
        if (!((i + 1) % 3)) str = ' ' + str;
        return str;
      }, '');
  }

  function formatAge(totalMonths) {
    const MONTHS_IN_YEAR = 12;

    const years = Math.floor(totalMonths / MONTHS_IN_YEAR);
    const months = totalMonths % MONTHS_IN_YEAR;

    let str = '';

    if (years) str += `${years} г. `;
    if (months) str += `${months} мес.`;

    return str;
  }

mixin card(params)
  .card(
    data-price=params.price
    data-age=params.age
  )
    if (params.discount)
      .card__discount= params.sale

    img.card__img(src=params.imgLink alt=params.title)

    .card__content
      h3.card__title= params.name

      .card__info
        .card__info-item
          span.card__param-value= params.color
          span.card__param-name окрас
        
        .card__info-item
          span.card__param-value.card__param-value--accented= formatAge(params.age)
          span.card__param-name Возраст
        
        .card__info-item
          span.card__param-value.card__param-value--accented= params.pawCount
          span.card__param-name Кол-во лап

      .card__price #{formatPrice(params.price)} руб. 
           
    if (params.sold)
      .card__button.card__button--sold Продано
    else
      button.card__button Купить
